DEBUG=True
SECRET_KEY="please_add_a_random_key"
STATICFILES_STORAGE="django.contrib.staticfiles.storage.StaticFilesStorage"
POSTGRES_DB=art_analyser
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:50001/art_analyser"

DARKNET_DIR = ''
DARKNET_BIN = ''
YOLO_CONF = ''
YOLO_WEIGHTS = ''

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_STORAGE_BUCKET_NAME=""
AWS_S3_HOST=""
AWS_S3_REGION_NAME=""
AWS_DEFAULT_REGION=""

IBM_IAM_API_KEY=""
GOOGLE_VISION_API_KEY=""
AZURE_VISION_API_KEY=""
DEEP_AI_API_KEY=""
CLARIFAI_API_KEY=""

BROKER_URL="amqp://bienal:bienal@localhost:50003/bienal"
